<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="nameless.common.mybatis.test.FooMapper">
    <select id="select3" resultType="nameless.common.mybatis.test.Foo">
        select * from tbl where id in (#{@ids})
    </select>
</mapper>